@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,900');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: $font-family;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    font-size: 10px;
    background: $color-background-body;
}

a, a:hover, a:active, a:focus {
    outline: none;
    outline-offset: 0;
}