$font-size-small: 1.3rem;
$font-size-regular: 1.6rem;
$font-size-medium: 2rem;
$font-size-medium-plus: 2.8rem;
$font-size-large: 4rem;
$font-size-x-large: 5rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;

$font-family: 'Roboto', sans-serif;