.c-button-card {
    width: 5rem;
    height: 3.8rem;
    position: absolute;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../public_html/img/next-card.png');
    background-color: $color-background-white;
    border: 1px solid $color-background-silver;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 1rem;
    text-align: center;

    &:hover {
        border: 1px solid transparent;
        background-color: $color-background-black;
        background-image: url('../public_html/img/next-card-white.png');
    }

    @media screen and (max-width: $screen-lg - 1) {
        height: 100%;
        width: calc(33.333% + 3rem);
        border-radius: 0;
        background-color: $color-background-turquoise
    }
}