.c-button-card {
    width: 5rem;
    height: 3.8rem;
    position: absolute;
    bottom: 0;
    right: 0;
    background: $color-background-white;
    border: 1px solid $color-background-silver;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 1rem;
    text-align: center;

    &:hover {
        background: $color-background-black;
    }
}

.c-button-card-ico{
    height:3.8rem;
    width: 100%;
}