.c-input {
    width: 100%;
    border-radius: 0.5rem;
    font-size: $font-size-small;
    line-height: 6.5rem;

    &--email {
        padding-right: 14.5rem;
        padding-left: 5.2rem;
        color: $color-text-white;
        background-color: $color-background-graphite;
        background-position: 1.5rem center;
        background-repeat: no-repeat;

        @media screen and (max-width: $screen-md - 1) {
            padding: 0 2rem;
            background-image: none !important;
        }
    }

    &--zip {
        padding-left: 5.2rem;
        color: $color-text-gray;
        border: 1px solid $color-background-silver;
        background-color: $color-background-light-gray;
        background-position: 1.5rem center;
        background-repeat: no-repeat;

        @media screen and (max-width: $screen-md - 1) {
            padding: 0 2rem;
            background-image: none !important;
        }
    }


    @media screen and (max-width: $screen-md - 1) {
        font-size: $font-size-regular;
        background-image: none !important;
    }
}