.c-button {
    display: block;
    width: 100%;
    padding: 0 5.5rem;
    border-radius: 0.5rem;
    line-height: 6.6rem;
    color: $color-text-white;
    text-transform: uppercase;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    text-decoration: none;
    background-color: $color-background-turquoise;
    background-position: 90% center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: background-color ease-out 0.5s;

    &:hover {
        background-color: $color-background-black;
    }

    @media screen and (max-width: $screen-md - 1) {
        font-size: $font-size-medium-plus;
        text-transform: inherit;
        background-image: none !important;
    }
}