.c-button {
    display: block;
    width: 100%;
    padding: 0 5.5rem;
    border-radius: 0.5rem;
    line-height: 6.6rem;
    color: $color-text-white;
    text-transform: uppercase;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    text-decoration: none;
    background-color: $color-background-turquoise;
    background-position: 90% center;
    background-repeat: no-repeat;

    @media screen and (max-width: $screen-lg - 1) {
        font-size: $font-size-large;
        border: 1px solid red;
        line-height: 9rem;
        text-transform: inherit;
    }
}