.l-footer{
    padding: 8.5rem 0 8.2rem;
    background: $color-background-coal;
}

.l-footer__nav {
    margin: 0 auto;
    max-width: 75rem;
    margin-bottom: 4rem;
}

.l-footer__nav-grid {
    display: flex;

    @media screen and (max-width: $screen-md - 1) {
        flex-wrap: wrap;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.l-footer__nav-item {
    width: 25%;

    @media screen and (max-width: $screen-md - 1) {
        width: 50%;
        margin-bottom: 3rem;
    }
}

.l-footer__nav-title {
    position: relative;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    font-weight: $font-weight-bold;
    color: $color-text-white;
    font-size: $font-size-regular;
    background-repeat: no-repeat;
    background-position: left bottom;

    &:before {
        position: absolute;
        bottom: -1rem;
        display: block;
        content: url("data:image/svg+xml,%3Csvg width='17px' height='7px' viewBox='0 0 17 7' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3E%3Cg id='Group' transform='translate(1.000000, 1.000000)' fill-rule='nonzero' stroke='%2350E3C2' stroke-width='2'%3E%3Cpath d='M0.5,4.5 L6.5,0.5' id='Line'%3E%3C/path%3E%3Cpath d='M10.5,3.5 L14,1' id='Line' transform='translate(12.000000, 2.500000) rotate(-3.000000) translate(-12.000000, -2.500000) '%3E%3C/path%3E%3Cpath d='M6.75007557,3.83903854 L10.3018997,0.900578881' id='Line' transform='translate(8.454126, 2.322673) rotate(-91.000000) translate(-8.454126, -2.322673) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }

    @media screen and (max-width: $screen-lg - 1) {
        font-size: $font-size-medium;
        border: 1px solid red;
        line-height: 9rem;
    }
}

.l-footer__nav-url {
    display: block;
    font-size: $font-size-small;
    text-decoration: none;
    margin-bottom: 2rem;
    color: $color-text-graphite;

    @media screen and (max-width: $screen-lg - 1) {
        font-size: $font-size-medium;
        border: 1px solid red;
        line-height: 9rem;
    }
}

.l-footer__social {
    width: 100%;
    text-align: center;
}

.l-footer__copyright{
    position: relative;
    width: 30rem;
    margin: 0 auto;
    margin-top: 2.5rem;
    font-size: $font-size-small;
    text-align: center;
    color: $color-text-charcoal;

    &:after {
        position: absolute;
        bottom: -2rem;
        display: block;
        content: url("data:image/svg+xml,%3Csvg width='17px' height='7px' viewBox='0 0 17 7' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3E%3Cg id='Group' transform='translate(1.000000, 1.000000)' fill-rule='nonzero' stroke='%2350E3C2' stroke-width='2'%3E%3Cpath d='M0.5,4.5 L6.5,0.5' id='Line'%3E%3C/path%3E%3Cpath d='M10.5,3.5 L14,1' id='Line' transform='translate(12.000000, 2.500000) rotate(-3.000000) translate(-12.000000, -2.500000) '%3E%3C/path%3E%3Cpath d='M6.75007557,3.83903854 L10.3018997,0.900578881' id='Line' transform='translate(8.454126, 2.322673) rotate(-91.000000) translate(-8.454126, -2.322673) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        left: 50%;
        transform: translateX(-50%);
    }


    &--turquoise {
        color: $color-text-turquoise;

        &:after {
            content: '';
        }
    }

    @media screen and (max-width: $screen-lg - 1) {
        width: 100%;
        font-size: $font-size-medium-plus;
        border: 1px solid red;
        line-height: 9rem;
    }
}

.l-footer__social-url {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
    opacity: 0.5;
}