.l-footer{
    padding: 8.5rem 0 5.6rem;
    background: $color-background-coal;
}

.l-footer__nav {
    margin: 0 auto;
    max-width: 75rem;
    margin-bottom: 3.5rem;
}

.l-footer__nav-grid {
    display: flex;

    @media screen and (max-width: $screen-md - 1) {
        flex-direction: column;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.l-footer__nav-item {
    width: 25%;
}

.l-footer__nav-title {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    font-weight: $font-weight-bold;
    color: $color-text-white;
    font-size: $font-size-regular;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.l-footer__nav-url {
    display: block;
    font-size: $font-size-small;
    text-decoration: none;
    margin-bottom: 2rem;
    color: $color-text-graphite;
}

.l-footer__social {
    width: 100%;
    text-align: center;
}

.l-footer__copyright{
    width: 30rem;
    margin: 0 auto;
    margin-top: 2.5rem;
    font-size: $font-size-small;
    padding-bottom: 3rem;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center 3rem;
    color: $color-text-charcoal;

    &--turquoise {
        color: $color-text-turquoise;
    }
}

.l-footer__social-url {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
    opacity: 0.5;
}