.l-hero-charts {
    position: relative;
    height: 50rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.l-hero-logo {
    position: absolute;
    z-index: 1;
}

.l-hero-charts__city {
    padding: 3rem 3.7rem;
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    border-radius: 1rem;
    background-color: $color-background-white;

    @media screen and (max-width: $screen-xl - 1) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 80%;
    }
}

.l-hero-charts__city-subtitle {
    text-transform: uppercase;
    color: $color-text-light-charcoal;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    letter-spacing: 0.3rem;

    @media screen and (max-width: $screen-xl - 1) {
        font-size: $font-size-medium;
    }
}

.l-hero-charts__city-title {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}