.l-hero {
    height: 56rem;
    position: relative;
    background: $color-background-turquoise;

    @media screen and (max-width: $screen-xl - 1) {
        margin-bottom: 5rem;
    }
}

.l-hero__scroll {
    overflow: scroll;

    &--hide {
        overflow: hidden;
    }
}

.l-hero__hamburger {
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 2;
}

.l-hero__navigation {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: $color-background-turquoise;
    z-index: 1;

    &--show {
        display: block;
    }
}

.l-hero__navigation-url {
    display: block;
    margin: 1rem;
    color: $color-text-white;
    font-size: $font-size-x-large;
    text-decoration: none;
}

.l-hero__navigation-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.l-hero__wave {
    width: 100%;
    margin-top: -0.5rem;
    background-color: $color-background-light-gray;
    margin-bottom: 18rem;

    @media screen and (max-width: $screen-xl - 1) {
        display: none;
    }
}

.l-hero__form {
    width: 100%;;
    max-width: 95rem;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -20rem;
    padding: 4.5rem;
    background: $color-background-white;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);

    @media screen and (max-width: $screen-xl - 1) {
        width: 100%;
        max-width: none;
        bottom: 0;
        box-shadow: none;
        border-radius: 0;
    }
}

.l-hero__form-img {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(-100% - 8rem);

    @media screen and (max-width: $screen-xl - 1) {
        display: none;
    }
}

.l-hero__form-item {
    margin: 0 0.5rem;

    &--50 {
        width: 50%;
    };

    &--30 {
        width: 30%;
    };

    &--20 {
        width: 20%;
    };

    @media screen and (max-width: $screen-lg - 1) {
        width: 100%;
        margin-bottom: 1rem;
    }
}

.l-hero__form-title {
    font-size: $font-size-x-large;
    font-weight: $font-weight-bold;

    @media screen and (max-width: $screen-lg - 1) {
        font-size: $font-size-large;
    }
}

.l-hero__form-grid {
    margin-top: 2rem;
    display: flex;

    @media screen and (max-width: $screen-lg - 1) {
        flex-direction: column;
    }
}