.l-learn {
    margin-top: 11.5rem;
}

.l-learn__wave {
    width: 100%;
    margin-bottom: -0.5rem;
    background-color: $color-background-light-gray;
}

.l-learn__description-img {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(-100% - 13rem);

    @media screen and (max-width: $screen-xl - 1) {
        display: none;
    }
}

.l-learn__description {
    height: 54rem;
    position: relative;
    background: $color-background-turquoise;

    @media screen and (max-width: $screen-xl - 1) {
        height: 30rem;
    }
}

.l-learn__quote {
    margin: 0 auto;
    position: absolute;
    bottom: 5.5rem;
    max-width: 57rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 3.8rem 6.8rem 2.6rem;
    text-align: center;
    border-radius: 0.5rem;
    background: $color-background-white;
}

.l-learn__quote-site {
    margin-top: 1.5rem;
    max-height: 17rem;
    display: block;
    font-size: $font-size-large;
    color: $color-text-black;
    font-weight: $font-weight-bold;
}

.l-learn__quote-text {
    font-size: $font-size-medium;
    color: $color-text-black;
}