.l-quote {
    margin-top: 11rem;
    padding: 7rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @media screen and (max-width: $screen-md - 1) {
        padding: 2rem;
    }
}

.l-quote__container {
    margin: 0 auto;
    padding: 4.2rem 7.9rem 3rem;
    max-width: 57rem;
    background-color: $color-background-brown;
    text-align: center;
    border-radius: 1rem;

    @media screen and (max-width: $screen-md - 1) {
        max-width: none;
        width: 100%;
        padding: 2rem;
    }
}

.l-quote__text {
    margin-bottom: 1.3rem;
    font-size: $font-size-medium;
    color: $color-text-white;

}

.l-quote__url {
    color: $color-text-turquoise;
    font-weight: bold;
    font-size: $font-size-large;

    @media screen and (max-width: $screen-md - 1) {
        font-size: $font-size-medium-plus;
    }
}