$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$color-text-white: #ffffff;
$color-text-gray: #9DA1A2;
$color-text-silver: #989A99;
$color-text-graphite: #545454;
$color-text-black: #1E1E1E;

$color-background-white: #ffffff;
$color-background-turquoise: #67CECD;
$color-background-body: #F2F2F2;
$color-background-light-gray:#F3F3F3;
$color-background-silver:#ECEBEB;
$color-background-graphite: #262626;
$color-background-coal: #1E1E1E;
$color-background-black: #1D1D1D;

$color-label-turquoise: #4BC7C9;
$color-label-scarlet: #FF553D;
$color-label-blue: #4097FF;
$color-label-orange: #FE993D;
$color-label-purple: #903FFF;