.l-section.l-charts
    .l-container
        .l-charts__container
            .l-charts__title You PM
                span.l-charts__title.l-charts__title--mini 2.5
            img(src="../../public_html/img/figure.svg", alt="")


        .l-charts__container
            .l-charts__title You AQI Overtime
            img(src="../../public_html/img/figure.svg", alt="")


        .l-charts__container
            .l-charts__title Ozone
            img(src="../../public_html/img/figure.svg", alt="")


        .l-charts__container
            .l-charts__title Relative Humididy
            img(src="../../public_html/img/figure.svg", alt="")


        .l-charts__grid
            .l-charts__item
                .l-charts__title Most amount of rain in a day
                img(src="../../public_html/img/figure.svg", alt="")
                .l-charts__data
                    .l-charts__data-ico
                    .l-charts__data-number 44.00''

            .l-charts__item
                .l-charts__title Most amount of rain in a day
                img(src="../../public_html/img/figure.svg", alt="")
                .l-charts__data
                    .l-charts__data-ico
                    .l-charts__data-number 24.00''

            .l-charts__item
                .l-charts__title Highest Temperature
                img(src="../../public_html/img/figure.svg", alt="")
                .l-charts__data
                    .l-charts__data-ico
                    .l-charts__data-number 22 °C''

            .l-charts__item
                .l-charts__title Lowest Temperature
                img(src="../../public_html/img/figure.svg", alt="")
                .l-charts__data
                    .l-charts__data-ico
                    .l-charts__data-number 22 °C''


        .l-charts__container
            .l-charts__title Pollen Index
            img(src="../../public_html/img/figure.svg", alt="")


