.l-footer
    img.l-footer__wave(src="../../public_html/img/wave_bottom.svg", alt="")
    .l-footer__description
        .l-footer__quote
            img.l-footer__description-img(src="../../public_html/img/about.png", alt="", srcset="")
            .l-footer__quote-text If you don't like what you see and want to learn more visit us at
            a.l-footer__quote-site(href="") hellowynd.com

    .l-footer__nav
        .l-footer__nav-grid
            .l-footer__nav-item
                .l-footer__nav-title(style="background-image:url(../../public_html/img/figure.svg)") Product
                a.l-footer__nav-url(href="") How it works
                a.l-footer__nav-url(href="") Benefits
                a.l-footer__nav-url(href="") Features

            .l-footer__nav-item
                .l-footer__nav-title(style="background-image:url(../../public_html/img/figure.svg)") Support
                a.l-footer__nav-url(href="") Blog
                a.l-footer__nav-url(href="") Help
                a.l-footer__nav-url(href="") FAQ

            .l-footer__nav-item
                .l-footer__nav-title(style="background-image:url(../../public_html/img/figure.svg)") About us
                a.l-footer__nav-url(href="") Our Team
                a.l-footer__nav-url(href="") Career
                a.l-footer__nav-url(href="") Press


            .l-footer__nav-item
                .l-footer__nav-title(style="background-image:url(../../public_html/img/figure.svg)") Contact
                a.l-footer__nav-url(href="") info@hellowynd.com
                a.l-footer__nav-url(href="") 111-000-0000


    .l-footer__social
        a.l-footer__social-url(href="")
            img(src="../../public_html/img/fb.png", alt="")
        a.l-footer__social-url(href="")
            img(src="../../public_html/img/tw.png", alt="")
        a.l-footer__social-url(href="")
            img(src="../../public_html/img/inst.png", alt="")

    .l-footer__copyright(style="background-image:url(../../public_html/img/figure.svg)") 2018 - Hellowynd. All right reserved.


