.l-hero
    a(href="").l-hero__logo
        img(src="../../public_html/img/wynd.png", alt="")

    nav
        button.l-hero__hamburger.hamburger.hamburger--slider.js-hamburger
            span.hamburger-box
                span.hamburger-inner

        .l-hero__navigation
            .l-hero__navigation-container
                a.l-hero__navigation-url(href="") Home
                a.l-hero__navigation-url(href="") Description

    .l-hero__form
        img.l-hero__form-img(src="../../public_html/img/about.png", alt="", srcset="")
        .l-hero__form-title What is in the air you breathe?
            .l-hero__form-grid
                .l-hero__form-item.l-hero__form-item--50
                    input.c-input.c-input--email(type="text", placeholder="yourmail@hellowynd.com", style="background-image:url(../../public_html/img/mail.png)")
                .l-hero__form-item.l-hero__form-item--30
                    input.c-input.c-input--zip(type="text", placeholder="zip code", style="background-image:url(../../public_html/img/zip.png)")
                .l-hero__form-item.l-hero__form-item--20
                    a.c-button(href="", style="background-image:url(../../public_html/img/next_mini.png)") Submit

img.l-hero__wave(src="../../public_html/img/wave_top.svg", alt="")



