.l-hero-charts(style="background-image:url(https://million-wallpapers.com/wallpapers/2/96/291825007167457/america-the-beautiful.jpg)")
    a(href="/")
        img.l-hero-logo(src="../../public_html/img/logo-inside.png", alt="").l-hero-logo

    nav
        button.l-hero__hamburger.hamburger.hamburger--slider.js-hamburger
            span.hamburger-box
                span.hamburger-inner

        .l-hero__navigation
            .l-hero__navigation-container
                a.l-hero__navigation-url(href="") Home
                a.l-hero__navigation-url(href="") Description

    .l-hero-charts__city
        .l-hero-charts__city-subtitle Air quality in
        .l-hero-charts__city-title San Francisco
