.l-learn
    img.l-learn__wave(src="../../public_html/img/wave_bottom.svg", alt="")
    .l-learn__description
        .l-learn__quote
            img.l-learn__description-img(src="../../public_html/img/about.png", alt="", srcset="")
            .l-learn__quote-text If you don't like what you see and want to learn more visit us at
            a.l-learn__quote-site(href="") hellowynd.com