.l-quote(style="background-image:url(https://million-wallpapers.com/wallpapers/2/96/291825007167457/america-the-beautiful.jpg)")
    .l-quote__container
        .l-quote__text If you don't like what you see and want to learn more visit us at
        a.l-quote__url(href="") hellowynd.com

